In [1]:
import pandas as pd
import numpy as np

# First, we will load in the datasets we are using.

In [3]:
# Business data with location, name, id, number of reviews, Yelp rating, categories, hours, and is open
bus_df = pd.read_json('yelp_academic_dataset_business.json', lines=True)
bus_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209388,9Q0fPWAjUweoFDk0kafuzQ,Nishi Sushi,9750 Weston Road,Vaughan,ON,L4H 2P2,43.838555,-79.559823,4.0,5,0,"{'Ambience': '{'romantic': False, 'intimate': ...","Japanese, Sushi Bars, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
209389,PotiAhtDMYMNsJCzV0oLAw,Walmart,3240 Wilkinson Blvd,Charlotte,NC,28208,35.226307,-80.893539,2.0,13,0,"{'RestaurantsPriceRange2': '1', 'BusinessParki...","Department Stores, Food, Mobile Phones, Fashio...",None
209390,SYa2j1boLF8DcGVOYfHPcA,Five Guys,7014-590 E Camelback Rd,Scottsdale,AZ,85251,33.504062,-111.929431,3.5,97,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","American (New), Food, Burgers, Restaurants, Fa...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
209391,RSSIsgO00OuWQTRoITacpA,Indian Trail Dog Training,,Indian Trail,NC,28079,35.101965,-80.599385,5.0,3,1,None,"Pet Services, Pet Training, Pets","{'Monday': '0:0-0:0', 'Tuesday': '7:0-19:0', '..."
209392,tOcYmewXFhQeZh3V42ymwg,Kudlow Ye,"21 St Clair Avenue E, Suite 401",Toronto,ON,M4T 1L9,43.688214,-79.392756,5.0,3,1,None,"Tax Services, Professional Services, Accountan...","{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ..."

In [4]:
# Not necessary
check_df = pd.read_json('yelp_academic_dataset_checkin.json', lines=True)
check_df

,business_id,date
0,--1UhMGODdWsrMastO9DZw,"2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016..."
1,--6MefnULPED_I942VcFNA,"2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012..."
2,--7zmmkVg-IMGaXbuVd0SQ,"2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015..."
3,--8LPVSo5i0Oo61X01sV9A,2016-07-08 16:43:30
4,--9QQLMTbFzLJ_oT-ON3Xw,"2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010..."
...,...,...
175182,zzvlwkcNR1CCqOPXwuvz2A,"2017-05-06 20:05:15, 2017-05-12 22:37:03, 2017..."
175183,zzwaS0xn1MVEPEf0hNLjew,"2010-02-16 02:09:56, 2010-07-05 05:40:48, 2010..."
175184,zzwhN7x37nyjP0ZM8oiHmw,"2016-03-06 13:27:02, 2016-03-09 00:41:53, 2016..."
175185,zzwicjPC9g246MK2M1ZFBA,"2012-09-22 00:26:15, 2012-09-23 20:12:00, 2012..."
175186,zzzaIBwimxVej4tY6qFOUQ,"2012-10-12 16:26:35, 2012-10-19 19:31:14, 2012..."

In [21]:
#Population data
pop_df = pd.read_csv('pop-by-zip-code.csv',dtype={'zip_code':'str'})
pop_df

,zip_code,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate
0,00601,17800,17982,18088,18450,18544,18533,18570,127967
1,00602,39716,40260,40859,41302,41640,41930,41520,287227
2,00603,51565,52408,53162,53683,54540,54475,54689,374522
3,00606,6320,6331,6415,6591,6593,6386,6615,45251
4,00610,27976,28328,28805,28963,29141,29111,29016,201340
...,...,...,...,...,...,...,...,...,...
33115,99923,0,13,12,81,77,116,87,386
33116,99925,908,826,728,668,673,689,819,5311
33117,99926,1667,1711,1622,1630,1624,1488,1460,11202
33118,99927,81,123,131,111,75,67,94,682
33119,99929,2385,2365,2354,2341,2361,2321,2338,16465

In [11]:
# McDonald's, testing to see the data
mcd = bus_df[bus_df['name'] == "McDonald's"]
mcd

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
280,CfwrsG76Wm4iLS22v_wAcg,McDonald's,6421 Pearl Rd,Parma Heights,OH,44130,41.385949,-81.768113,2.5,15,1,"{'Ambience': '{'romantic': False, 'intimate': ...","Restaurants, Coffee & Tea, Burgers, Fast Food,...","{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ..."
741,v3kXkK9ga8jfgetr0Hb5Eg,McDonald's,31115 Vine St,Willowick,OH,44095,41.642921,-81.469927,2.0,8,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Coffee & Tea, Burgers, Food, Fast...","{'Monday': '5:0-23:0', 'Tuesday': '5:0-23:0', ..."
886,dgV3b_HRCGcrR1-OzkwHNA,McDonald's,468 Holland St W Building (L),Bradford,ON,L3Z 0A2,44.108393,-79.589562,2.5,4,1,"{'NoiseLevel': 'u'loud'', 'RestaurantsReservat...","Restaurants, Fast Food, Burgers, Food, Coffee ...","{'Monday': '5:0-23:0', 'Tuesday': '5:0-23:0', ..."
1274,2SedpQ674XBqyw3Wq4kyxQ,McDonald's,1350 S Power Rd,Mesa,AZ,85206,33.390766,-111.685350,1.5,29,1,"{'GoodForKids': 'True', 'DriveThru': 'True', '...","Food, Fast Food, Restaurants, Burgers, Coffee ...","{'Monday': '4:0-0:0', 'Tuesday': '4:0-0:0', 'W..."
1402,2vuAlukfUZf3vbHsexEeDw,McDonald's,630 Keele St,Toronto,ON,M6N 3E5,43.672212,-79.467928,1.0,20,1,"{'OutdoorSeating': 'True', 'RestaurantsPriceRa...","Fast Food, Burgers, Restaurants, Food, Coffee ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208425,dYO978rkgyeg6tIQHuEStg,McDonald's,"1300 W Sunset Rd, Ste 2837",Henderson,NV,89014,36.067123,-115.042825,1.5,11,0,"{'NoiseLevel': 'u'loud'', 'RestaurantsGoodForG...","Fast Food, Restaurants, Burgers",None
208914,lebZM1I1gTuAzRfIBNSgdw,McDonald's,5250 Detroit Rd,Elyria,OH,44035,41.425210,-82.077933,2.0,21,1,"{'OutdoorSeating': 'False', 'Ambience': '{'rom...","Fast Food, Restaurants, Coffee & Tea, Burgers,...","{'Monday': '4:0-0:0', 'Tuesday': '4:0-0:0', 'W..."
209058,W39f_7mEdphd-wzGwgPxow,McDonald's,5867 Wooster Pike,Medina,OH,44256,41.114057,-81.863526,3.0,13,1,"{'OutdoorSeating': 'False', 'Ambience': '{'rom...","Restaurants, Coffee & Tea, Fast Food, Burgers,...","{'Monday': '5:30-23:0', 'Tuesday': '5:30-23:0'..."
209101,gB7X5o33o6W_rAGgHunSCA,McDonald's,4849 Mcknight Rd,Pittsburgh,PA,15237,40.528601,-80.008328,2.0,10,1,"{'RestaurantsPriceRange2': '1', 'RestaurantsGo...","Fast Food, Restaurants, Coffee & Tea, Food, Bu...","{'Monday': '4:0-23:0', 'Tuesday': '4:0-23:0', ..."
209223,Y-vxPbvPKcaLiYa9ZBXoDg,McDonald's,505 Smithfield St,Pittsburgh,PA,15219,40.440433,-79.998637,1.5,24,0,"{'OutdoorSeating': 'False', 'RestaurantsTakeOu...","Restaurants, Burgers, Hot Dogs, Food, Coffee &...","{'Monday': '5:0-20:0', 'Tuesday': '5:0-20:0', ..."

In [19]:
# Seeing the unique cities represented
print(bus_df['city'].unique())

['Cornelius' 'Scottsdale' 'Montreal' ... 'ARSENAL' 'Chander' 'Tempe ']

In [17]:
print(bus_df['state'].unique())

['NC' 'AZ' 'QC' 'NV' 'IL' 'ON' 'AB' 'PA' 'WI' 'SC' 'OH' 'CA' 'TX' 'NY'
 'CO' 'XWY' 'GA' 'BC' 'YT' 'HPL' 'AL' 'UT' 'VT' 'WA' 'NE' 'DOW' 'MI' 'FL'
 'AR' 'HI' 'MB' 'OR' 'AK' 'VA' 'CT' 'MO' 'DUR']